@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --font: "Oswald", sans-serif;
    --bg-color: #384B70;
    --primary-color: #FCFAEE;
    --secundary-color: #B8001F;
}

body{
    background-color: var(--bg-color);
    font-family: var(--font);
    color: var(--primary-color);
    height: 100vh;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}

h1{
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
}

nav{
    display:flex; 
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--bg-color);
    margin: 0 2rem 1 rem 0rem;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}